.meal {
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
  background-color: aquamarine;
  width: 300px;
  height: 300px;
}

/* https://www.cssportal.com/css-clip-path-generator/ */
/* https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */